
<% cache product do %>
  <div class="col-sm-2 col-md-3 pictures">

        <%= image_tag(product.image_url, class: "img-responsive")%>
        <a href="#"><h2 class="products"><%= link_to product.name, product %></h2></a>
        <p><%= product.description %></p>
        <p><%= product.colour %></p>
        <p><strong><%= product.price %>€</strong></p>
        <p><%= link_to 'Show', product %></p>
        <p><%= link_to 'Edit', edit_product_path(product) %></p>
       <p><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </div>
    <% #logger.debug "Product: #{@product.name}"%>

 <!-- /col -->
 <% end %>
