<div class="page-wrap">
  <div class="col-md-6 col-xs-12">
    <div>
      <p>

         <%= image_tag(@product.image_url, class: "img-responsive")%>
      </p>
    </div>
  </div>
  <div class="col-md-6 col-xs-12 product-description">
    <div class="product-info-box">
      <p class="product-name">
        <strong><%= @product.name %></strong>
     </p>
      <p class="product-description">
        <%= @product.description %>
      </p>
      <p class="product-price">
        <strong>Price</strong>
        <strong><%= @product.price %>€</strong>
      </p>
      <p class="product-colour">
        <strong>Color</strong><br>
          <%= @product.colour %>
      </p>
      <p>Average Rating: <div class="rated average-rating" data-score="<%= @product.average_rating %>"></div> </p>
      <p>
        <%= form_tag "/payments/create" do %>
    <%= render "shared/stripe_checkout_button" %>
    <%= hidden_field_tag(:product_id, @product.id) %>
  <% end %>
    </p>
  </div>
</div>



 <% if @product.lowest_rating_comment %>
      <%= @product.lowest_rating_comment.body %>
 <% end %>

    <%= render 'new_comment' %>
    <%= render 'comments' %>

</div>
<p class="paginate"><%= will_paginate @comments %></p>

  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>

<!-- end container-fluid -->
